@model Mvc5DemoAppLearn.Models.Movie
@{
    ViewBag.Title = "MovieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>MovieDetails</h3>


<ul>


    <li>@Model.MovieName</li>
    <li>@Model.Genre.GenreType</li>
    <li>@Model.ReleaseDate.ToShortDateString()</li>
    <li>@Model.DateAdded.ToShortDateString()</li>
    <li>@Model.QuntityInStock</li>


</ul>